@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wave {
  color: white;
  animation: shift 3s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 48%, 10% 50%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 62%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 50%, 0% 50%, 35% 54%, 49% 55%, 70% 61%, 80% 59%, 100% 62%, 100% 100%, 0% 100%);

  }
}